-navbar{
    text-align: center;
    flex:auto;

}

-navbar a{
    padding: [px10px];
    text text-decoration: top: ;
    colors:gold
    margin: left 20px;
    font- size 20px;
    font-weight:bold


}

-btn{
cursor: pointer;
color :blue
font: size 10px;
letter-apelege:2px
padding: 10px;
border:2px solid:indigo
background=transperent
text-decoration:black;
text align=center
font weight:bold;
margin: 40px2px;

}




